<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/contest.css">
    <script src="https://kit.fontawesome.com/f8e2bc67ef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../codemirror-5.65.12/lib/codemirror.css">
    <script src="../../codemirror-5.65.12/mode/python/python.js"></script>
    <script src="../../codemirror-5.65.12/lib/codemirror.js"></script>
    <script src="../../codemirror-5.65.12/mode/clike/clike.js"></script>
    <link rel="stylesheet" href="../../codemirror-5.65.12/theme/dracula.css">
    <script src="../../codemirror-5.65.12/addon/edit/closebrackets.js"></script>
    <title>Contest</title>

</head>

<body>

    <div>
        <h1>Weekly Contest 1</h1>
    </div>
    <div class="center">
        <h2>Mô tả cuộc thi</h2>
        <p>Đây là bài thi kiểm tra kiến thức môn tin học đại cương</p>
    </div>
    <div class="clock-container">
        <span id="hours"></span>
        <span id="minutes"></span>
        <span id="seconds"></span>
    </div>
    <div id="score">
    </div>
    <div class="col-4 d-inline-block choose-container" id="choose">
        <label class="visually-hidden" for="inlineFormSelectPref">Chọn ngôn ngữ</label>
        <select class="form-select" id="inlineFormSelectPref">
            <option selected>Choose...</option>
            <option value="Java">Java</option>
            <option value="Cpp">Cpp</option>
            <option value="python">python</option>
        </select>
    </div>
    <div class="exercise col-8">
        <div id="ex1">
        </div>
        <div id="ex2">
        </div>
        <div id="ex3">
        </div>
        <div id="ex4">
        </div>
        <div id="ex5">
        </div>
    </div>
    <div>
        <button class="btn btn-success center-button" id="start">Bắt đầu</button>
    </div>
    <script>
        var score = 0;
        var start = document.getElementById("start");
        var clockInterval;
        var isCounting = false;
        var countExercise = parseInt('<%=dataExercise.length %>');
        const countdownDuration = 2 * 60 * 60 * 1000 + 2000;
        const targetTime = Date.now() + countdownDuration;
        var scoreTemp = [0, 0, 0, 0, 0];
        var dataExercise = '<%= JSON.stringify(dataExercise) %>';
        const decodedString = decodeHtml(dataExercise);
        dataExercise = JSON.parse(decodedString);
        var numbers = [];
        console.log(countExercise);
        while (numbers.length < 5) {
            var randomNumber = Math.floor(Math.random() * countExercise);
            if (!numbers.includes(randomNumber)) {
                numbers.push(randomNumber);
            }
        }
        console.log(numbers);

        start.addEventListener('click', async function () {
            document.getElementById('choose').style.visibility = 'visible';
            document.getElementById('score').innerHTML = `<h5>Điểm của bạn: ${score}</h5>`;

            for (let i = 1; i <= 5; i++) {
                document.getElementById('ex' + i).innerHTML = `<h3>Bài tập số ${i}</h3>`;
            }
            for (let i = 0; i < 5; i++) {
                var temp = numbers[i];
                var parent = document.getElementById('ex' + (i + 1));
                var child1 = document.createElement('h4');
                child1.innerHTML = dataExercise[temp].content;
                parent.appendChild(child1);
                var child2 = document.createElement('p');
                child2.innerHTML = dataExercise[temp].detail;
                parent.appendChild(child2);
                var child3 = document.createElement('textarea');
                child3.setAttribute('rows', '5');
                child3.setAttribute('cols', '30');
                child3.setAttribute('id', 'answer' + temp);
                child3.setAttribute('name', 'answer' + temp);
                child3.setAttribute('placeholder', 'Nhập câu trả lời của bạn vào đây');
                child3.setAttribute('required', 'true');
                child3.setAttribute('class', 'form-control');
                parent.appendChild(child3);
                var child4 = document.createElement('button');
                child4.setAttribute('id', 'submit' + temp);
                child4.setAttribute('class', 'btn btn-success btn-submit');
                child4.textContent = 'Nộp bài';



                child4.addEventListener('click', async function () {
                    var scoreTem = 0
                    inputArray = [dataExercise[numbers[i]].input1, dataExercise[numbers[i]].input2, dataExercise[numbers[i]].input3, dataExercise[numbers[i]].input4, dataExercise[numbers[i]].input5];
                    outputArray = [dataExercise[numbers[i]].output1, dataExercise[numbers[i]].output2, dataExercise[numbers[i]].output3, dataExercise[numbers[i]].output4, dataExercise[numbers[i]].output5];
                    console.log(inputArray);
                    console.log(outputArray);

                    for (let j = 0; j < 5; j++) {
                        var input = inputArray[j];
                        var output = outputArray[j];
                        var lang = document.getElementById("inlineFormSelectPref");
                        var code = document.getElementById("answer" + numbers[i]).value;
                        code = {
                            code: code,
                            input: input,
                            lang: lang.value
                        };
                        console.log(code);
                        var oData = await fetch("http://localhost:8000/compile", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify(code)
                        });
                        var d = await oData.json();
                        var output_value = d.output;
                        if (output_value == output) {
                            scoreTem += 20;
                        }


                    }
                    if (scoreTem > scoreTemp[i]) {
                        scoreTemp[i] = scoreTem;
                    }
                    console.log(scoreTemp[i]);
                    score = scoreTemp[0] + scoreTemp[1] + scoreTemp[2] + scoreTemp[3] + scoreTemp[4];
                    document.getElementById('score').textContent = `Điểm của bạn: ${score}`;
                });
                parent.appendChild(child4);
            }

            if (!isCounting) {
                await setInterval(updateScore, 1000);
                clearInterval(clockInterval);
                clockInterval = await setInterval(updateClock, 1000);
                isCounting = true;
                start.id = 'stop';
                start.textContent = 'Kết thúc';
                start.classList.remove('btn-success');
                start.classList.add('btn-danger');
            } else {
                clearInterval(clockInterval);
                isCounting = false;
                start.textContent = 'Start';
                start.classList.remove('btn-danger');
                start.classList.add('btn-success');
                start.id = 'start';
            }
        });

        function decodeHtml(html) {
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
        }

        function displayCountdown() {
            const remainingTime = targetTime - Date.now();
            const seconds = Math.floor((remainingTime / 1000) % 60);
            const minutes = Math.floor((remainingTime / 1000 / 60) % 60);
            const hours = Math.floor((remainingTime / (1000 * 60 * 60)) % 24);
            return {
                total: remainingTime,
                hours: hours,
                minutes: minutes,
                seconds: seconds
            };
        }

        function updateClock() {
            const remainingTime = targetTime - Date.now();
            const { hours, minutes, seconds } = displayCountdown();
            document.getElementById('hours').textContent = hours + ":";
            document.getElementById('minutes').textContent = minutes + ":";
            document.getElementById('seconds').textContent = seconds;

            if (remainingTime <= 0) {
                clearInterval(clockInterval);
                document.getElementById('hours').textContent = '0';
                document.getElementById('minutes').textContent = '0';
                document.getElementById('seconds').textContent = '0';

                isCounting = false;
                start.textContent = 'Start';
            }
        }
    </script>



</body>

</html>