<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giải bài tập</title>
</head>

<body>
    <div>
        <h2>Giải bài tập số <%= info[0].Id %>
        </h2>

        <h3>Đề bài: <%= info[0].content %>
        </h3>

    </div>

</body>

</html>