body {
    background-color: rgb(247, 198, 240) !important;
    background-size: cover;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

h2 {
    text-align: center;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}


.w3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.short-width {
    width: 70%;
    text-align: center;
    display: flex;
    margin: auto;
}

.w3-table-all {
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: black;
}