@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,500;1,700&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: rgb(142, 194, 243) !important;
    background-size: cover;
}

.h2-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.h3-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 300px;
    padding-right: 300px;
}

.p-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}



.choose-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 50px;
}

.btn-container {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 500px;
}

.output-container {
    text-align: center;
    margin-top: 70px !important;
    margin-bottom: 20px;
    margin-left: 50px;
}

.output-result {
    margin-top: 20px;
    font-size: 20px;
}